{% extends 'admin/base.html' %}
{% block page_title %}
    <h1 class="m-0">Владельцы квартир</h1>
{% endblock %}
{% block pagination_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'admin_index' %}">
            <i class="fas fa-home"></i>
            Главная</a>
    </li>
    <li class="breadcrumb-item active">Владельцы квартир</li>
{% endblock %}
{% block main_content %}
    <section class="content" style="min-height: 60px">
        <div class="dropdown pull-right">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Выберите действие
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="{% url 'admin_user-create' %}">Добавить владельца квартиры</a></li>
                        <li><a class="dropdown-item" href="{% url 'admin_message-create' %}">Отправить сообщение должникам</a></li>
                        <li><a class="dropdown-item" href="#">Отправить приглашение</a></li>
                    </ul>
                </div>
    </section>
    <section class="content input-form">
         <div class="container-fluid">
            <div class="card card-secondary card-outline table-responsive">
                    <table class="table table-bordered table-hover table-striped linkedRow">
                        <thead>
                            <tr>
                                <th style="width: 125px; min-width: 125px">ID</th>
                                <th style="width: 125px; min-width: 150px">
                                    <a>ФИО</a>
                                </th>
                                <th style="width: 120px; min-width: 120px">Телефон</th>
                                <th style="width:auto">Email</th>
                                <th style="min-width: 200px">Дом</th>
                                <th style="min-width: 160px">Квартира</th>
                                <th>Добавлен</th>
                                <th style="width: 110px; min-width: 110px">Статус</th>
                                <th style="width: 110px; min-width: 110px">Есть долг</th>
                                <th style="width: 80px; min-width: 80px">&nbsp;</th></tr>
                            </tr>
                        </thead>
                        <tbody>
                        {% for el in users %}
                        <tr data-href="{% url 'admin_user-detail'  pk=el.pk %}">
                            <td>{{ el.id }}</td>
                            <td>{{ el.first_name }} {{ el.middle_name }} {{ el.last_name }}</td>
                            <td>{{ el.number }}</td>
                            <td>{{ el.email }}</td>
                            <td></td>
                            <td></td>
                            <td>{{ el.date_joined }}</td>
                            <td>{{ el.status }}</td>
                            <td>
                                <div class="btn-group pull-right">
                                    <a class="btn btn-default btn-sm" href="{% url 'admin_user-change' pk=el.pk %}" title="Редактировать" data-toggle="tooltip">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a class="btn btn-default btn-sm" href="{% url 'admin_user-delete' pk=el.pk %}" title="Удалить" data-toggle="tooltip" data-pjax="0" data-method="post" data-confirm="Вы уверены, что хотите удалить этот элемент?">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
             </table>
            </div>
         </div>
    </section>
{% endblock %}
{% block scripts %}
    <script>
    $('tr[data-href]').on("click", function() {
    document.location = $(this).data('href');
    });
    </script>
{% endblock %}