{% extends 'admin/base.html' %}
{% load static %}
{% block page_title %}
    <h1 class="m-0">Редактирование страницы</h1>
{% endblock %}
{% block pagination_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'admin_index' %}">
            <i class="fa fa-home"></i>
            Главная</a>
    </li>
    <li class="breadcrumb-item active">Редактирование страницы</li>
{% endblock %}
{% block main_content %}
<div class="default-area">
    {% if alerts %}
    {% for alert in alerts %}
    <div class="alert alert-success" role="alert">
        {{ alert }}
    </div>
    {% endfor %}
    {% endif %}
</div>
<section class="content">
    <div class="container-fluid">
        <div class="card card-secondary card-outline">
            <div class="card-header">
                <h3 class="card-title">Редактирование страницы "Тарифы"</h3>
            </div> <!-- /.card-body -->
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-xs-12 col-md-8">
                        <div class="default-area">
                            <h4>Информация</h4>
                            <hr/>
                            <div>
                                Заголовок
                                {{ contact_form.title }}
                            </div>
                            <div>
                                Краткий текст
                                {{ contact_form.description }}
                            </div>
                            <div>
                                Ссылка на коммерческий сайт
                                {{ contact_form.site }}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="default-area">
                            <h4>Контакты</h4>
                            <hr/>
                            <div>
                                ФИО
                                {{ contact_form.name }}
                            </div>
                            <div>
                                Адрес
                                {{ contact_form.address }}
                            </div>
                            <div>
                                Телефон
                                {{ contact_form.tel }}
                            </div>
                            <div>
                                E-mail
                                {{ contact_form.email }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="default-area">
                    <h4>Настройки SEO</h4>
                    <hr/>
                    <div>
                        Title
                        {{ tariffs_seo_form.title }}
                    </div>
                    <div>
                        Keywords
                        {{ tariffs_seo_form.keywords }}
                    </div>
                    <div>
                        Description
                        {{ tariffs_seo_form.description }}
                    </div>
                </div>
                <div class="default-area">
                    <input type="submit" value="Сохранить">
                </div>
            </form>
        </div>
    </div><!-- /.container-fluid -->
</section>
{% endblock %}
{% block scripts %}
<script src="https://cdn.tiny.cloud/1/kra6rmqrjhsjtzn537eqbc98zd4itnaxx3en34fmphnfe00h/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>tinymce.init({selector:'textarea'});</script>
{% endblock %}