{% extends 'admin/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'admin/css/website/main-page.css' %}">
{% endblock %}
{% block page_title %}
    <h1 class="m-0">Редактирование страницы</h1>
{% endblock %}
{% block pagination_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'admin_index' %}">
            <i class="fa fa-home"></i>
            Главная</a>
    </li>
    <li class="breadcrumb-item active">Редактирование страницы</li>
{% endblock %}
{% block main_content %}
<section class="content panel-content">
    <div class="container-fluid">
        <div class="card card-secondary card-outline">
            <div class="card-header">
                <h3 class="card-title">Редактирование страницы "Главная"</h3>
            </div> <!-- /.card-body -->
            <div class="card-body">

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h4>Слайдер</h4>
                    <div class="row align-items-center">
                        <div class="col-sm slides">
                            <img src="{{ form_instance.photo.url }}"
                                 alt=""
                                 class="img-responsive margin-bottom-15">
                            Рекомендуемый размер: (1920x800)
                            {{ form.slide1 }}
                        </div>
                        <div class="col-sm slides">
                            Рекомендуемый размер: (1920x800)
                            {{ form.slide2 }}
                        </div>
                        <div class="col-sm slides">
                            Рекомендуемый размер: (1920x800)
                            {{ form.slide3 }}
                        </div>
                    </div>
                    <h4>Краткая информация</h4>
                    {{ form.title }}
                    {{ form.description }}

                    {{ formset.management_form }}
                    {% for form in formset %}
                        {{ form.image }}
                        {{ form.title }}
                        {{ form.description }}
                    {% endfor %}

                    {{ seo_form.title }}
                    {{ seo_form.keywords }}
                    {{ seo_form.description }}

                    <input type="submit" value="Submit">
                </form>
            </div><!-- /.card-body -->
        </div>
    </div><!-- /.container-fluid -->
</section>
{% endblock %}