{% extends 'admin/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'admin/css/website/main-page.css' %}">
{% endblock %}
{% block page_title %}
    <h1 class="m-0">Редактирование страницы</h1>
{% endblock %}
{% block pagination_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'admin_index' %}">
            <i class="fa fa-home"></i>
            Главная</a>
    </li>
    <li class="breadcrumb-item active">Редактирование страницы</li>
{% endblock %}
{% block main_content %}
<div class="default-area">
    {% if alerts %}
    {% for alert in alerts %}
    <div class="alert alert-success" role="alert">
        {{ alert }}
    </div>
    {% endfor %}
    {% endif %}
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card card-secondary card-outline">
            <div class="card-header">
                <h3 class="card-title">Редактирование страницы "Главная"</h3>
            </div> <!-- /.card-body -->
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="default-area">
                    <h4>Слайдер</h4>
                    <hr/>
                    <div class="row align-items-center">
                        <div class="col-sm slides">
                            <div>Слайд 1</div>
                            <div class="blocks-image" style="background: url({% if main_page_form.instance.slide1 %}{{ main_page_form.instance.slide1.url }}{% else %}{% static 'no_icon.png' %}{% endif %}) no-repeat;"></div>
                            <div><b>Рекомендуемый размер: (1920x800)</b></div>
                            <div>{{ main_page_form.slide1 }}</div>
                        </div>
                        <div class="col-sm slides">
                            <div>Слайд 2</div>
                            <div class="blocks-image" style="background: url({% if main_page_form.instance.slide2 %}{{ main_page_form.instance.slide2.url }}{% else %}{% static 'no_icon.png' %}{% endif %}) no-repeat;"></div>
                            <div><b>Рекомендуемый размер: (1920x800)</b></div>
                            <div>{{ main_page_form.slide2 }}</div>
                        </div>
                        <div class="col-sm slides">
                            <div>Слайд 3</div>
                            <div class="blocks-image" style="background: url({% if main_page_form.instance.slide3 %}{{ main_page_form.instance.slide3.url }}{% else %}{% static 'no_icon.png' %}{% endif %}) no-repeat;"></div>
                            <div><b>Рекомендуемый размер: (1920x800)</b></div>
                            <div>{{ main_page_form.slide3 }}</div>
                        </div>
                    </div>
                </div>
                <div class="default-area">
                    <h4>Краткая информация</h4>
                    <hr/>
                    <div>
                        Заголовок
                        {{ main_page_form.title }}
                    </div>
                    <div>
                        Краткий текст
                        {{ main_page_form.description }}
                    </div>
                </div>
                <div class="default-area">
                    <h4>Рядом с нами</h4>
                    <hr/>
                    <div class="row align-items-center">
                        {% for form in main_page_block_formset %}
                        {{ form.id }}
                        <div class="col-md-4">
                            Блок {{ forloop.counter }}
                            <div class="blocks-image" style="background: url({% if form.instance.image %}{{ form.instance.image.url }}{% else %}{% static 'no_icon.png' %}{% endif %}) no-repeat;"></div>
                            <div>
                                <b>Рекомендуемый размер: (1000x600)</b>
                                {{ form.image }}
                            </div>
                            <div>
                                Заголовок блока
                                {{ form.title }}
                            </div>
                            <div>
                                Описание
                                {{ form.description }}
                            </div>
                        </div>
                        {% endfor %}
                        {{ main_page_block_formset.management_form }}
                    </div>
                </div>
                <div class="default-area">
                    <h4>Настройки SEO</h4>
                    <hr/>
                    <div>
                        Title
                        {{ main_page_seo_form.title }}
                    </div>
                    <div>
                        Keywords
                        {{ main_page_seo_form.keywords }}
                    </div>
                    <div>
                        Description
                        {{ main_page_seo_form.description }}
                    </div>
                </div>
                <div class="default-area text-center">
                    <button type="submit" class="btn btn-success">Сохранить главную страницу и настройки SEO</button>
                </div>
            </form>
        </div>
    </div><!-- /.container-fluid -->
</section>
{% endblock %}
{% block scripts %}
<script src="https://cdn.tiny.cloud/1/kra6rmqrjhsjtzn537eqbc98zd4itnaxx3en34fmphnfe00h/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>tinymce.init({selector:'textarea'});</script>
{% endblock %}