{% extends 'admin/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'admin/css/website/services.css' %}">
{% endblock %}
{% block page_title %}
    <h1 class="m-0">Редактирование страницы</h1>
{% endblock %}
{% block pagination_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'admin_index' %}">
            <i class="fa fa-home"></i>
            Главная</a>
    </li>
    <li class="breadcrumb-item active">Редактирование страницы</li>
{% endblock %}
{% block main_content %}
<div class="default-area">
    {% if alerts %}
    {% for alert in alerts %}
    <div class="alert alert-success" role="alert">
        {{ alert }}
    </div>
    {% endfor %}
    {% endif %}
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card card-secondary card-outline">
            <div class="card-header">
                <h3 class="card-title">Редактирование страницы "Услуги"</h3>
            </div> <!-- /.card-body -->
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="default-area">
                    <h4>Услуги</h4>
                    <hr/>
                    <div class="row align-items-center">
                        {% for form in formset %}
                        <div class="form-area col-md-4">
                            <div class="form-title-line">
                                <h4>Услуга <b class="form-counter">{{ forloop.counter }}</b></h4>
                                <div class="btn btn-danger del-form">DEL</div>
                            </div>

                            <div class="blocks-image" style="background: url({% if form.instance.image %}{{ form.instance.image.url }}{% else %}{% static 'no_icon.png' %}{% endif %}) no-repeat;"></div>
                            <div>
                                <b>Рекомендуемый размер: (650x300)</b>
                                {{ form.image }}
                            </div>
                            <div>
                                Название услуги
                                {{ form.name }}
                            </div>
                            <div>
                                Описание услуги
                                {{ form.description }}
                            </div>
                        </div>
                        {% endfor %}
                        {{ formset.management_form }}
                        <button type="button" class="btn btn-secondary btn-lg btn-block" id="add-service-block">Добавить услугу</button>
                    </div>
                </div>
                <div class="default-area">
                    <h4>Настройки SEO</h4>
                    <hr/>
                    <div>
                        Title
                        {{ seo_form.title }}
                    </div>
                    <div>
                        Keywords
                        {{ seo_form.keywords }}
                    </div>
                    <div>
                        Description
                        {{ seo_form.description }}
                    </div>
                </div>
                <div class="default-area">
                    <button type="submit" class="btn btn-success btn-lg btn-block">Сохранить услуги и настройки SEO</button>
                </div>
            </form>
        </div>
    </div><!-- /.container-fluid -->
</section>
{% endblock %}
{% block scripts %}
<script src="https://cdn.tiny.cloud/1/kra6rmqrjhsjtzn537eqbc98zd4itnaxx3en34fmphnfe00h/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="{% static 'base/js/dynamicforms.js' %}"></script>
<script>
// tinymce.init({selector:'textarea'}); // Включить по необходиомости (может не работать динамическое добавление форм)

let prefix = "service_blocks_form";
let form = ".form-area";
let counter = ".form-counter";

$('#add-service-block').click(function() { addForm(prefix, form, counter); });
$('.del-form').click(function() { delForm(this, prefix, form, counter); });
</script>
{% endblock %}