{% extends 'admin/base.html' %}
{% block page_title %}
    <h1 class="m-0">Тарифы</h1>
{% endblock %}
{% block pagination_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'admin_index' %}">
            <i class="fas fa-home"></i>
            Главная</a>
    </li>
    <li class="breadcrumb-item active">Тарифы</li>
{% endblock %}
{% block main_content %}
<section class="content">
    <div class="container-fluid">
        <div class="card card-secondary card-outline">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="default-area">
                    <h4>Информация</h4>
                    <hr/>
                    <div class="default-half">
                        Название
                        {{ form.name }}
                    </div>
                    <div class="default-half">
                        Краткий текст
                        {{ form.description }}
                    </div>
                </div>
                <div class="default-area default-half text-center">
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </div>
            </form>
        </div>
    </div><!-- /.container-fluid -->
</section>
{% endblock %}