{% extends 'admin/base.html' %}
{% block page_title %}
    <h1 class="m-0">Тарифы</h1>
{% endblock %}
{% block pagination_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'admin_index' %}">
            <i class="fa fa-home"></i>
            Главная</a>
    </li>
    <li class="breadcrumb-item active">Тарифы</li>
{% endblock %}
{% block main_content %}
<section class="content">
    <div class="container-fluid">
        <div class="content" style="min-height: 60px">
            <a href="{% url 'admin_tariffs-create' %}" class=" btn btn-success pull-right">Добавить тариф</a>
        </div>
        <div class="card card-secondary card-outline">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Название тарифа</th>
                    <th scope="col">Описание тарифа</th>
                    <th scope="col">Дата редактирования</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for rate in rateservices %}
                <tr>
                    <th scope="row">{{ rates.name }}</th>
                    <td>{{ rates.description }}</td>
                    <td>{{ rates.edit_date }}</td>
                    <td>copy/edit/delete</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div><!-- /.container-fluid -->
</section>
{% endblock %}