{% extends 'admin/base.html' %}
{% block page_title %}
    <h1 class="m-0">Квитанции на оплату</h1>
{% endblock %}
{% block pagination_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'admin_index' %}">
            <i class="fa fa-home"></i>
            Главная</a>
    </li>
    <li class="breadcrumb-item active">Квитанции на оплату</li>
{% endblock %}
{% block main_content %}
    <section class="content">
        <div class="row">
            <div class="col-xs-12 col-lg-9">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="small-box bg-green overflow-hidden">
                            <div class="inner">
                                <h3>103 123.40 грн</h3>
                                <p>Состояние кассы</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-dollar"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="small-box bg-blue overflow-hidden">
                            <div class="inner">
                                <h3>53 559.00 грн</h3>
                                <p>Баланс по счетам</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-dollar"></i>
                            </div>
                            <!--<span class="small-box-footer">&nbsp;</span>-->
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="small-box bg-red overflow-hidden">
                            <div class="inner">
                                <h3>58 506.90 грн</h3>
                                <p>Задолженность по счетам</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-dollar"></i>
                            </div>
                            <!--<span class="small-box-footer">&nbsp;</span>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-3">
                <div class="dropdown pull-right">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Выберите действие
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="{% url 'admin_invoice-create' %}">Создать общую квитанцию</a></li>
                        <li><a class="dropdown-item" href="#">Удалить</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}