{% extends 'admin/base.html' %}
{% block page_title %}
    <h1 class="m-0">Касса</h1>
{% endblock %}
{% block pagination_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'admin_index' %}">
            <i class="fas fa-home"></i>
            Главная
        </a>
    </li>
    <li class="breadcrumb-item active">Касса</li>
{% endblock %}
{% block main_content %}
    <section class="content" style="min-height: 0">
        <div class="row">
            <div class="col-xs-12 col-lg-9">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="small-box bg-green overflow-hidden">
                            <div class="inner">
                                <h3>103 123.40 грн</h3>
                                <p>Состояние кассы</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-dollar"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="small-box bg-blue overflow-hidden">
                            <div class="inner">
                                <h3>53 559.00 грн</h3>
                                <p>Баланс по счетам</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-dollar"></i>
                            </div>
                            <!--<span class="small-box-footer">&nbsp;</span>-->
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="small-box bg-red overflow-hidden">
                            <div class="inner">
                                <h3>58 506.90 грн</h3>
                                <p>Задолженность по счетам</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-dollar"></i>
                            </div>
                            <!--<span class="small-box-footer">&nbsp;</span>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-3">
                <div class="dropdown pull-right">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Выберите действие
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="{% url 'admin_account-transaction-create_in' %}">Создать приход</a></li>
                        <li><a class="dropdown-item" href="{% url 'admin_account-transaction-create_out' %}">Создать расход</a></li>
                        <li><a class="dropdown-item" href="#">Выгрузить в Exel</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="content input-form">
         <div class="container-fluid">
            <div class="card card-secondary card-outline">
                    <table class="table table-bordered table-hover table-striped linkedRow">
                        <thead>
                            <tr>
                                <th style="width: 125px; min-width: 125px">№</th>
                                <th style="width: 125px; min-width: 150px">
                                    <a href="/admin/account-transaction/index?sort=searchUidDate" data-sort="searchUidDate">Дата</a>
                                </th>
                                <th style="width: 120px; min-width: 120px">Статус</th>
                                <th style="width:auto">Тип платежа</th>
                                <th style="min-width: 200px">Владелец</th>
                                <th style="min-width: 160px">Лицевой счет</th>
                                <th>Приход/расход</th>
                                <th style="width: 110px; min-width: 110px">Сумма (грн)</th>
                                <th style="width: 80px; min-width: 80px">&nbsp;</th></tr>
                            </tr>
                        </thead>
                        <tbody>
                        {% for el in accounts %}
                        <tr data-href="{% url 'admin_account-transaction-detail'  pk=el.pk %}">
                            <td>{{ el.number }}</td>
                            <td>{{ el.created_date }}</td>
                            <td>{% if el.payment_made == 1 %}Проведён{% else %}Непроведён{% endif %}</td>
                            <td>{{ el.transfer_type.name }}</td>
                            <td>{{ el.user }}</td>
                            <td>{{ el.account }}</td>
                            {% if el.transfer_type.status == 0 %}
                                <td style="color: #00ba13; text-align: center"><small class="label label-success">Приход</small></td>
                            {% else %}
                                <td style="color: #c62232; text-align: center"><small class="label label-danger">Расход</small></td>
                            {% endif %}
                            {% if el.transfer_type.status == 0 %}
                                <td style="color: #00ba13">{{ el.amount }}</td>
                            {% else %}
                                <td style="color: #c62232">-{{ el.amount }}</td>
                            {% endif %}
                            <td>
                                <div class="btn-group pull-right">
                                    <a class="btn btn-default btn-sm" href="{% url 'admin_account-transaction-in-change' pk=el.pk %}" title="Редактировать" data-toggle="tooltip">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a class="btn btn-default btn-sm" href="/admin/account-transaction/delete/110" title="Удалить" data-toggle="tooltip" data-pjax="0" data-method="post" data-confirm="Вы уверены, что хотите удалить этот элемент?">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            </div>
         </div>
    </section>
{% endblock %}
{% block scripts %}
    <script>
    $('tr[data-href]').on("click", function() {
    document.location = $(this).data('href');
    });
    </script>
{% endblock %}