{% extends 'public/base.html' %}
{% block content %}
<div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="">Главная</a></li>
                        <li class="active">Контакты</li>
                    </ol>
                </div>
            </div>
        </div>
</div>
<div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2749.8611266486014!2d30.713265815873395!3d46.43163207638925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c633a651e3fd09%3A0x9331380952bbfd2c!2z0LLRg9C70LjRhtGPINCa0L7RgdC80L7QvdCw0LLRgtGW0LIsIDMyLCDQntC00LXRgdCwLCDQntC00LXRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgNjUwMDA!5e0!3m2!1suk!2sua!4v1524221669656" width="100%" height="800" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-8">
            <div class="page-header">
                <h1>{{ page.title }}</h1>
            </div>
            <div class="box">
                <p>{{ page.description|safe }}</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="page-header">
                <h3>Контакты</h3>
            </div>
            <div class="box">
                <p><i class="fas fa-user-circle"></i> {{ page.name }}</p>
                <p><i class="fas fa-map-marker"></i> {{ page.address }}</p>
                <p><i class="fas fa-phone"></i> <a href="tel:{{ page.tel }}">{{ page.tel }}</a></p>
                <p><i class="fas fa-envelope"></i> <a href="mailto:{{ page.email }}">{{ page.email }}</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}