{% extends 'public/base.html' %}
{% load easy_maps_tags %}
{% block content %}
<div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="">Главная</a></li>
                        <li class="active">Контакты</li>
                    </ol>
                </div>
            </div>
        </div>
</div>
<div class="map">
        {% easy_map page.map 2000 600 %}
    </div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-8">
            <div class="page-header">
                <h1>{{ page.title }}</h1>
            </div>
            <div class="box">
                <p>{{ page.description|safe }}</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="page-header">
                <h3>Контакты</h3>
            </div>
            <div class="box">
                <p><i class="fas fa-user-circle"></i> {{ page.name }}</p>
                <p><i class="fas fa-map-marker"></i> {{ page.address }}</p>
                <p><i class="fas fa-phone"></i> <a href="tel:{{ page.tel }}">{{ page.tel }}</a></p>
                <p><i class="fas fa-envelope"></i> <a href="mailto:{{ page.email }}">{{ page.email }}</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}