<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>
<div class="navbar">
    <div class="container d-flex justify-content-between">
        <div class="logo">
            <a href="#"><img src="../../static/img/logo/logo.svg" style="width: 145px; max-height: 40px"></a>
        </div>
        <div class="d-flex">
           <a href="#">Главная</a>
            <a href="#">О нас</a>
            <a href="#">Услуги</a>
            <a href="#">Условия приобретения</a>
            <a href="#">Контакты</a>
            <a href="#">Вход</a>
        </div>
    </div>
</div>
<div class="container" style="height: 53px"></div>
<div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="">Главная</a></li>
                        <li class="active">Контакты</li>
                    </ol>
                </div>
            </div>
        </div>
</div>
<div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2749.8611266486014!2d30.713265815873395!3d46.43163207638925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c633a651e3fd09%3A0x9331380952bbfd2c!2z0LLRg9C70LjRhtGPINCa0L7RgdC80L7QvdCw0LLRgtGW0LIsIDMyLCDQntC00LXRgdCwLCDQntC00LXRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgNjUwMDA!5e0!3m2!1suk!2sua!4v1524221669656" width="100%" height="800" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
<div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-8">
                <div class="page-header">
                    <h1>Разработчик системы "Мой Дом 24"</h1>
                </div>
                <div class="box">
                    <p>Разработчиком системы&nbsp;"Мой Дом 24" является компания<b> AVADA-MEDIA </b>- компания специализирующаяся на разработке web и мобильных приложений разного уровня сложности, но неизменно высокого качества&nbsp;</p><p><b><i></i><i>Официальный сайт компании -&nbsp;</i></b><a target="_blank" rel="nofollow" href="https://avada-media.ua/"><b><i>https://avada-media.ua/</i></b></a><b></b></p>                </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class="page-header">
                        <h3>Контакты</h3>
                    </div>
                    <div class="box">
                        <p><i class="fas fa-user-circle"></i> AVADA-MEDIA</p>
                        <p><i class="fas fa-compass"></i> ул. Космонавтов, 32</p>
                        <p><i class="fas fa-map-marker"></i> Малиновский р-н, г. Одесса</p>
                        <p><i class="fas fa-phone"></i> <a href="tel:+380971799663">+38 (097) 179-96-63</a></p>
                        <p><i class="fas fa-envelope"></i> <a href="mailto:info@avada-media.com.ua">info@avada-media.com.ua</a></p>
                    </div>
                </div>
        </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <p class="text-muted">Разработано <a href="https://avada-media.ua/">AVADA-MEDIA</a>. На базе системы управления <a href="https://avada-media.ua/moydom24/">"МойДом24"</a></p>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>