{% extends 'public/base.html' %}
{% load static %}
{% block content %}
    <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="">Главная</a></li>
                            <li class="active">
                                Услуги
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h1 style="text-align: left">Наши услуги</h1>
                </div>
            </div>
        </div>
        <div class="services">
            {% for block in page_blocks %}
            <div class="row">
                <div class="col-xs-12 col-md-7">
                    <img src="{% if block.image %}{{ block.image.url }}{% else %}{% static 'no_icon.png' %}{% endif %}" class="img-responsive img-thumbnail" alt="">
                </div>
                <div class="col-xs-12 col-md-5">
                    <div class="content-header">
                        <h3>{{ block.name }}</h3>
                    </div>
                    <p>{{ block.description|safe }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}